<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>
<body>
<script type="application/javascript">
    var data = <%- vizData %>;

</script>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Mithai</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a data-toggle="tab" href="#dashboard_tab">Dashboard</a></li>
                <li><a data-toggle="tab" href="#spark">Spark</a></li>
                <li><a data-toggle="tab" href="#">Profile</a></li>
                <li><a data-toggle="tab" href="#">Help</a></li>
            </ul>
            <form class="navbar-form navbar-right">
                <input type="text" class="form-control" placeholder="Search...">
            </form>
        </div>
    </div>
</nav>
<!--<h4>data=<%= vizData %></h4>-->
<div class="container-fluid tab-container">
    <div class = "tab-content">
        <div id = "dashboard_tab" class="tab-pane active">
            <div class="row">
                <div class="col-sm-3 col-md-2 sidebar">
                    <ul class="nav nav-sidebar">
                        <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
                        <li><a href="#">Reports</a></li>
                        <li><a href="#">Analytics</a></li>
                        <li><a href="#">Export</a></li>
                    </ul>
                </div>
                <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                    <h1 class="page-header">Dashboard</h1>
                    <svg id="graph" viewBox="0 0 600 480" perserveAspectRatio="xMinYMid"></svg>
                </div>
            </div>
            <div class="row">
                <div id="graph2" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

                </div>
            </div>
        </div>
        <div id ="spark" class="row tab-pane">
            <h1>Spark UI</h1>
            <iframe src="http://localhost:4040/jobs"></iframe>
            <div>
                <object type="text/html" data="http://localhost:4040/jobs" width="800px" height="600px" style="overflow:auto;border:5px ridge blue">
                </object>
            </div>

        </div>
    </div>
</div>
</body>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="javascripts/d3_sample.js" defer></script>
</html>